body {
    background-color: #141414;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    height: 100dvh; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 20px;
    box-sizing: border-box; 
    gap: 20px; 
     max-width: 500px;
}

.subject-button {
    background-color: #333; 
    color: #fff;
    border: 1px solid #555;
    padding: 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    width: 100%; 
    box-sizing: border-box; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subject-button:hover {
    background-color: #444;
}


@media (max-width: 400px) {
    .subject-button {
        font-size: 16px;
        padding: 15px;
    }
}a{color: inherit; text-decoration: none;}