body {
    background-color: #141414;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
    height: 100dvh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
}

.welcome-text {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px; 
}

.continue-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: calc(100% - 40px); 
    max-width: 400px; 
    margin-bottom: 50px; 
}

.continue-button:hover {
    opacity: 0.9;

}
a{color: inherit; text-decoration: none;}
